body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2196f3, #64b5f6);
}

.MuiCard-root {
  max-width: 500px;
  margin: auto;
  border-radius: 15px !important;
}